.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 24px;
}

.menu {
  height: 300px;
  width: 408px;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.content {
  flex: 1;
  margin-left: 23px;
  background-color: transparent;
  border-radius: 8px;
}


