.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 24px;
}

.menu {
  position: fixed;
  height: min-content;
  width: 408px;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 24px;
}

.menuPlaceholder {
  min-width: 408px;
  height: 100vh;
  padding: 24px;
}

.filterHeader {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1B1F23;
}

.content {
  width: 100%;
  margin-left: 23px;
  background-color: transparent;
  border-radius: 8px;
}

.loadingText {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}


