.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.name {
  font-family: 'SF Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1B1F23;
  margin-bottom: 4px;
}

.input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border-style: solid;
  border-color: #E1E3E6;
  border-width: 2px;
  background: transparent;
  outline-color: #FF5500;

  font-family: 'SF Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1B1F23;
}

.input::placeholder {
  color: #999FA6;
}
